<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- site title -->
    <title>Todo App - Sign In</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/js/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/js/bootstrap/bootstrap-theme.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/font-awesome/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>

    <!-- Scripts -->
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/js/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/js/todo.js"></script>

</head>
<body class="singleCol">
<div class="container-fluid">
    <div id="bodyContent">
        <div class="row">
            <div id="authContainer" class="center-block">
                <form action="#" th:action="@{/auth/sign-up}" th:object="${form}" name="loginForm" role="form" class="form-horizontal" method="post">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                        <p>Email or password not matched!</p>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4><i class="fa fa fa-sticky-note-o fa-lg"></i> &nbsp;Todo App - Sign Up</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="loginEmail" name="email" placeholder="Email" th:field="*{email}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" id="loginFullname" name="fullname" placeholder="Your Name" th:field="*{fullname}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="password" class="form-control" id="loginPasswd" name="passwd" placeholder="Password" th:field="*{passwd}"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-9">
                                    <a href="/auth/login">Already Member?</a>
                                </div>
                                <div class="col-md-3">
                                    <div class="pull-right">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa fa-user-plus"></i> Sign Up
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>