@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(' Light'), local('OpenSans-Light'), url(OpenSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''), local('OpenSans'), url(OpenSans.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(' Semibold'), local('OpenSans-Semibold'), url(OpenSans-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(' Bold'), local('OpenSans-Bold'), url(OpenSans-Bold.woff) format('woff');
}
