<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- site title -->
    <title>Todo App - My Todos</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/js/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/js/bootstrap/bootstrap-theme.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/font-awesome/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="/js/daterangepicker/daterangepicker.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>

    <!-- Scripts -->
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/js/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/js/todo.js"></script>

    <style>
        .media {
            padding: 5px 0;
            border-bottom: 1px solid #dedede;
        }

        .media button {
            border-radius: 10px;
        }
    </style>

</head>
<body class="singleCol">
<div class="container">
    <div id="bodyContent">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <div class="pull-right">
                    <form name="logoutForm" action="#" th:action="@{/auth/logout}" method="post">
                        <button type="submit" class="btn btn-sm btn-default"><i class="fa fa-user" aria-hidden="true"></i> Sign Out | <i class="fa fa-sign-out" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="#" th:action="@{/}" th:object="${form}" name="todoFilterForm" role="form" method="get">
                    <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="panel-title">
                                    <h4><i class="fa fa fa-sticky-note-o fa-lg"></i> &nbsp;My Todos</h4>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="input-group todoFilterWrapper" id="todoFilter">
                                    <input type="text" class="form-control" name="label"/>
                                    <input type="hidden" name="range"/>
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                      </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning" th:if="${#lists.isEmpty(todos)}">
                            <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> You have no more todos!</p>
                        </div>
                        <div th:each="todo : ${todos}" class="media">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-md-10" th:text="${todo.content}"></div>
                                    <div class="col-md-2">
                                        <div class="badge"><i>Due Date: </i><span th:text="${#dates.format(todo.finishDate, 'dd/MM/yyyy')}">24 Agu 2016</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="media-right">
                                <form></form>
                                <button class="btn btn-xs btn-danger" th:onclick="'deleteTodo(\'' + ${todo.id} + '\', \'this\');'"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-9">
                                <a href="/todo/create" class="btn btn-xs btn-primary"><i class="fa fa-plus"></i> Add Todo</a>
                            </div>
                            <div class="col-md-3">
                                <div class="pull-right">
                                    <button type="submit" name="page" th:value="${currentPage-1}" th:if="${hasPrevPage}" class="btn btn-xs btn-primary"><i class="fa fa-arrow-left"></i></button>
                                    <button type="submit" name="page" th:value="${currentPage+1}" th:if="${hasNextPage}" class="btn btn-xs btn-primary"><i class="fa fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirmTodoDeletion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Warning!</h4>
            </div>
            <div class="modal-body">
                Are you sure to delete this todo?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</body>
</html>