<!DOCTYPE html>
<html lang="tr">
<head>

    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- site title -->
    <title>Spring Boot Sample Todo App</title>

    <!-- Styles -->
    <link type="text/css" rel="stylesheet" href=""/>

    <!-- Scripts -->
    <script type="text/javascript" src=""></script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2">

            <!-- Left Side Bar -->
            <div id="leftSidebar"></div>

        </div>
        <div class="col-xs-10 col-sm-10 col-md-10">

            <!-- Header -->
            <div id="header"></div>

            <!-- Body Content -->
            <div id="bodyContent"></div>

        </div>
    </div>
    <div id="footer"></div>
</div>
</body>
</html>