<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- site title -->
    <title>Todo App - Add New Todo</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="/js/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/js/bootstrap/bootstrap-theme.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/font-awesome/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="/js/daterangepicker/daterangepicker.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>

    <!-- Scripts -->
    <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/js/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="/js/todo.js"></script>

    <style>
    </style>

</head>
<body class="singleCol">
<div class="container">
    <div id="bodyContent" class="center-block" style="width: 60%;">
        <div class="row">
            <div class="col-md-12">
                <form name="addTodoForm" action="#" th:action="@{/todo/create}" th:object="${form}" role="form" class="form-horizontal" method="post">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                        <p>All fields are required!</p>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4><i class="fa fa fa-sticky-note-o fa-lg"></i> &nbsp;Add Todo</h4>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="todoContent">Todo Content</label>
                                    <textarea class="form-control" name="todoContent" id="todoContent" th:field="*{content}" style="height: 200px;" placeholder="eg. take some breads from shop!!!"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label for="todoContent">Todo Date</label>
                                    <div class="input-group todoFilterWrapper">
                                        <input type="text" class="form-control" th:field="*{dateRangeUserFriendly}"/>
                                        <input type="hidden" th:field="*{dateRange}"/>
                                      <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="pull-left">
                                        <a class="btn btn-primary" href="/"><i class="fa fa-chevron-left"></i> Back to My Todos</a>
                                    </div>
                                </div>
                                <div class="col-md-offset-5 col-md-3 col-sm-12 col-xs-12">
                                    <div class="pull-right">
                                        <button class="btn btn-primary" type="submit"><i class="fa fa-plus"></i> Add Todo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>